In [1081]:
import pandas as pd
import numpy as np

In [1082]:
train = pd.read_csv("train_NIR5Yl1.csv")

In [1083]:
test = pd.read_csv("test_8i3B3FC.csv")

In [1084]:
train

            ID Tag  Reputation  Answers  Username    Views  Upvotes
0        52664   a      3942.0      2.0    155623   7855.0     42.0
1       327662   a     26046.0     12.0     21781  55801.0   1175.0
2       468453   c      1358.0      4.0     56177   8067.0     60.0
3        96996   a       264.0      3.0    168793  27064.0      9.0
4       131465   c      4271.0      4.0    112223  13986.0     83.0
...        ...  ..         ...      ...       ...      ...      ...
330040  339800   c        36.0      2.0     84919   1063.0      0.0
330041  253800   c      1649.0      2.0     76730  23319.0     73.0
330042  210756   c      6178.0      2.0     91701   2453.0     15.0
330043   56089   j        89.0      2.0     80245   2107.0      3.0
330044  300553   j      2001.0      4.0    154692   2554.0     37.0

[330045 rows x 7 columns]

In [1085]:
train.isnull().sum()

ID            0
Tag           0
Reputation    0
Answers       0
Username      0
Views         0
Upvotes       0
dtype: int64

In [1086]:
test.isnull().sum()

ID            0
Tag           0
Reputation    0
Answers       0
Username      0
Views         0
dtype: int64

In [1087]:
train.dtypes

ID              int64
Tag            object
Reputation    float64
Answers       float64
Username        int64
Views         float64
Upvotes       float64
dtype: object

In [1088]:
y = train.Upvotes
X = train.drop('Upvotes',axis = 1)
y

0           42.0
1         1175.0
2           60.0
3            9.0
4           83.0
           ...
330040       0.0
330041      73.0
330042      15.0
330043       3.0
330044      37.0
Name: Upvotes, Length: 330045, dtype: float64

In [1089]:
X = X.drop('Tag',axis = 1)
X_test = test.drop('Tag',axis = 1)
X

            ID  Reputation  Answers  Username    Views
0        52664      3942.0      2.0    155623   7855.0
1       327662     26046.0     12.0     21781  55801.0
2       468453      1358.0      4.0     56177   8067.0
3        96996       264.0      3.0    168793  27064.0
4       131465      4271.0      4.0    112223  13986.0
...        ...         ...      ...       ...      ...
330040  339800        36.0      2.0     84919   1063.0
330041  253800      1649.0      2.0     76730  23319.0
330042  210756      6178.0      2.0     91701   2453.0
330043   56089        89.0      2.0     80245   2107.0
330044  300553      2001.0      4.0    154692   2554.0

[330045 rows x 5 columns]

In [1090]:
X_test

            ID  Reputation  Answers  Username    Views
0       366953      5645.0      3.0     50652  33200.0
1        71864     24511.0      6.0     37685   2730.0
2       141692       927.0      1.0    135293  21167.0
3       316833        21.0      6.0    166998  18528.0
4       440445      4475.0     10.0     53504  57240.0
...        ...         ...      ...       ...      ...
141443   47187      4681.0      4.0    152060   2469.0
141444  329126      7782.0      3.0     89235  18998.0
141445  282334       435.0      5.0    119788  57048.0
141446  386629       176.0      3.0     86824  10193.0
141447  107271       648.0      2.0    102240  12785.0

[141448 rows x 5 columns]

In [1091]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import MinMaxScaler
from sklearn.tree import DecisionTreeRegressor
x_train,x_cv,y_train,y_cv = train_test_split(X,y,test_size = 0.3)

norm = MinMaxScaler().fit(x_train)

# transform training data
X_train_norm = norm.transform(x_train)
print("Scaled Train Data: \n\n")
print(X_train_norm)

# transform testing dataabs
X_cv_norm = norm.transform(x_cv)
print("\n\nScaled Val Data: \n\n")
print(X_cv_norm)

X_test_norm = norm.transform(X_test)
print("\n\nScaled Test Data: \n\n")
print(X_test_norm)

Scaled Train Data:


[[7.91275356e-02 4.03001454e-03 6.06060606e-02 4.17498876e-01
  4.92444250e-04]
 [2.25802347e-01 2.97958228e-03 1.21212121e-01 3.86998754e-01
  1.67771321e-02]
 [8.62686960e-02 5.86352247e-02 3.03030303e-02 6.84312353e-01
  2.75374977e-03]
 ...
 [8.16781621e-01 9.92874328e-04 1.21212121e-01 1.98364602e-01
  2.43603147e-03]
 [2.41785651e-04 1.10799019e-02 4.54545455e-02 2.34287600e-01
  3.19821130e-04]
 [2.62271682e-01 5.88913575e-03 3.03030303e-02 1.24783056e-01
  4.08426685e-03]]


Scaled Val Data:


[[7.94664597e-01 1.19720499e-03 1.51515152e-02 4.04086789e-01
  1.40507191e-03]
 [7.79818109e-01 5.18980687e-04 4.54545455e-02 6.07356447e-01
  1.22346397e-05]
 [8.14105011e-01 5.99561792e-04 3.03030303e-02 1.15098130e-01
  3.74494676e-04]
 ...
 [1.19883264e-01 2.96423350e-04 6.06060606e-02 3.05189004e-01
  1.99386395e-03]
 [6.86694578e-01 1.49650623e-04 1.21212121e-01 8.15992079e-02
  1.72737820e-02]
 [9.29600078e-01 4.39358881e-03 1.21212121e-01 4.00120635e-01
  5.85159879e-04]]


Scaled Test Data:


[[7.78278316e-01 5.41524211e-03 4.54545455e-02 2.88220466e-01
  6.34499887e-03]
 [1.52416160e-01 2.35133745e-02 9.09090909e-02 2.14434069e-01
  5.20163355e-04]
 [3.00516234e-01 8.89270050e-04 1.51515152e-02 7.69854954e-01
  4.04469543e-03]
 ...
 [5.98807615e-01 4.17295007e-04 7.57575758e-02 6.81626521e-01
  1.09039315e-02]
 [8.20009671e-01 1.68836601e-04 4.54545455e-02 4.94050769e-01
  1.94683705e-03]
 [2.27511814e-01 6.21625666e-04 3.03030303e-02 5.81772763e-01
  2.44233996e-03]]

In [1092]:
#model = LinearRegression(fit_intercept=True, normalize=True, copy_X=True)
model = DecisionTreeRegressor(max_depth=10,random_state=27)
model.fit(X_train_norm,y_train)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=10,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=27, splitter='best')

In [1093]:
pred_cv = model.predict(X_cv_norm)
model.score(x_cv,y_cv)

-30186.37368926003

In [1094]:
from sklearn.metrics import mean_squared_error
np.sqrt(mean_squared_error(y_cv,pred_cv))

1360.1306287920734

In [1095]:
mean_squared_error(y_cv,pred_cv)

1849955.327378321

In [1096]:
predict_test = model.predict(X_test_norm)

In [1097]:
predict_test

array([270.82100684,  96.93661447,  41.65005142, ...,  67.86986516,
        18.36556271,  41.65005142])

In [1098]:
submission  = pd.read_csv(r"C:\Users\KiranRager\Desktop\Shalini\MachineLearning\ML Practice\LinearRegression\sample_submission_OR5kZa5.csv")
submission['Upvotes'] = predict_test
submission['ID'] = X_test['ID']
submission



pd.DataFrame(submission,columns=['ID','Upvotes']).to_csv(r"C:\Users\KiranRager\Desktop\Shalini\MachineLearning\ML Practice\LinearRegression\Upvotes_count.csv",index=False)